{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

			<h1>Edit Menu Item</h1>

			<form action="#" method = "post">

					<label for="name">Name:</label>
					<input type ="text" maxlength="100"  name="name" value="{{item.name }}">

					<label for="description">Description:</label>
					<textarea maxlength="250" rows="3" name="description">{{item.description}} </textarea>

					<label for="price">Price:</label>

					<label for="course">Course:</label>

					  <label>
					    <input type="radio" name="course" id="course1" value="Appetizer" {% if item.course == 'Appetizer'%}checked{%endif%}>Appetizer
					  </label>

					  <label>
					    <input type="radio" name="course" id="course2" value="Entree" {% if item.course == 'Entree' %}checked{%endif%}>Entree
					  </label>

					  <label>
					    <input type="radio" name="course" id="course3" value="Dessert" {% if item.course == 'Dessert'%}checked{%endif%}>Dessert
					  </label>

					  <label>
					    <input type="radio" name="course" id="course4" value="Beverage" {%if item.course =='Beverage'%}checked{%endif%}>Beverage
					  </label>

					<button type="submit"  id="submit" type="submit">
					<span  aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showRestaurants')}}'>
						<button  type="button">
						<span  aria-hidden="true"></span> Cancel</button>
					</a>

{% endblock %}
