{% extends "main.html" %}
{% block content %}

			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>

			<div class="top-content">
				<h1>Restaurants</h1>
			</div>



		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}


	{% for restaurant in restaurants %}
	<div class="bottom-content">


		<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">

						<h3>{{restaurant.name}}</h3>
		</a>
			</div>
	{% endfor %}
{% endblock %}
